* {
  box-sizing: border-box;
}

body {
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

body,
form,
nav,
.profile,
.posts-cont,
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 20px;
}

input {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  text-align: center;
}

.routes {
  margin-top: 120px;
}

nav {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 100px;
  background-color: cornflowerblue;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

h3 {
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid grey;
}

a {
  text-decoration: none;
  margin: 5px;
  color: blue;
}

a:hover {
  color: darkgrey;
}

button {
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  background: none;
  border: 1px solid grey;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

.post-user,
.post-content,
.post-datetime {
  padding: 3px;
}

.post {
  width: 50vw;
  min-width: 300px;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}